.container{
    margin-bottom: 100px;
}
.komola{
    background-color: #feeae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-color: #FF136F;
    color: azure;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: #ffa500;
}
.cat2{
    background-color: #da70d6;
}
.cat3{
    background-color: #0000ff;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.categories h1{
    color: white;
}
.container img{
    width: 100px;
}
.categories{
    margin-top: 100px;
}
.container-catagories{
    margin-top: 100px;
}
.h-100 img{
    height: 200px;
    width: 300px;
    margin-left: 30px;

}
.card{
    border: 0;
    box-shadow: 5px 5px  10px lightgray;
    padding: 20px ;
    height: 150px;
    width: 400px;
}
.backpack img{
    height: 300px;
}
#subscribe{
    background-color: #feeae8;
    height: 300px;

}
#subscribe h5{
    color: grey;
}
footer{
    text-align: center;
}